# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Estudos Pessoais/nbproject/private/
/Estudos Pessoais/build/
/Estudos Pessoais 2/nbproject/private/
/Estudos Pessoais 2/build/
/Estudos Pessoais 2/dist/
/JavaAbsolutebeginners/nbproject/private/
/Cursoemvideo1/nbproject/private/
/Cursoemvideo1/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/olaMundoJavaFX/nbproject/private/
/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/olaMundoJavaFX/build/
/olaMundoJavaFX/dist/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX-Preloader/nbproject/private/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TiposPrimitivos/dist/
/SomaComSwing/nbproject/private/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresSwing/nbproject/private/
/OperadoresAritimeticos/nbproject/private/
/OperadoresAritimeticos/build/
/OperadoresAritimeticos/dist/
/OperadoresSwing/build/
/SuperCalculadora/build/
/ComparaçãoString/nbproject/private/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/ExercicioJavaAdvinha/nbproject/private/
/ExercicioJavaAdvinha/build/
/Condições/nbproject/private/
/Condições/build/
/ProgramaParImpar/nbproject/private/
/ProgramaParImpar/build/
/EquacaoPrimeiroGrau/nbproject/private/
/EquacaoPrimeiroGrau/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/Contador01/nbproject/private/
/Contador01/build/
/Contador02/nbproject/private/
/Contador02/build/
/Fatorial/nbproject/private/
/Fatorial/build/
/Repeticao01/nbproject/private/
/Repeticao01/build/
/Numeros/nbproject/private/
/Numeros/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/ExercicioRepita/dist/
/RepetiçãoFor/nbproject/private/
/Vetores/nbproject/private/
/Exercicio13/nbproject/private/
/Exercicio13/build/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/SwingVetores/nbproject/private/
/Vetores/build/
/Vetores/dist/
/Vetores2/nbproject/private/
/Vetores2/build/
/ExercicioLista/nbproject/private/
/SwingVetores/build/
/Funcao01/nbproject/private/
/TestesFuncoes/nbproject/private/
/Funcao01/build/
/Funcao02/nbproject/private/
/Funcao02/build/
/Java POO/Aula02/nbproject/private/
/Java POO/Aula02/build/
/Java POO/Aula03/nbproject/private/
/Java Basico/SomaSwing/nbproject/private/
/Java POO/Aula04/nbproject/private/
/Java POO/Aula04/build/
/Java POO/Aula04/dist/
/Java POO/Aula05/nbproject/private/
/Java POO/Aula05/build/
/Java POO/Aula06/nbproject/private/
/Java POO/Aula06/build/
/Java POO/Aula07/nbproject/private/
/Java POO/Aula07/build/
/Java POO/Aula07/dist/
/Aula09/nbproject/private/
/Aula09/build/
/Aula09/dist/
/Java POO/Aula09/nbproject/private/
/Aula10/nbproject/private/
/Aula10/build/
/Java POO/Aula10/nbproject/private/
/Java POO/Aula10/build/